html {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    scroll-behavior: smooth;

}

body {
    margin: 0;

}

.menuaff {
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    height: 100vh;
    width: 100%;
    transition: all 0.3s ease-out;
}

.ham {
    height: 75px; 
    width: 75px;
    opacity: 1;
    visibility: visible;
    transition: all 0.3s ease-out;
    
}

.hamoff {
    height: 0px; 
    width: 0px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-out;
}

.cls {
    height: 75px; 
    width: 75px;
    opacity: 1;
    visibility: visible;
    transition: all 0.3s ease-out;
    margin-top: 32px;
}

.clsoff {
    height: 0px; 
    width: 0px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-out;
    margin-top: 32px;
}

.menuaffoff {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
    transition: all 0.3s ease-out;
}


ul.headerlistmenu {
    display: block;
    text-align: center;
}

.headerlistmenua > a{
    font-size: 60px;
    color: aliceblue;
    text-decoration: none;
    font-weight: 600;
}

li.headerlistmenua {
    margin: 8vh 0 8vh 0;
}

.headerlistt {
    display:flex;  
    list-style:none;
}

@media (max-width: 1158px) {
    header {
        background: transparent;
        width: 100%;
    }

    .menu {
        text-align: right;
        margin-right: 5%;
    }

    .headerlist {
        visibility: hidden; 
        list-style:none;
        height: 0;
    }
}

@media (min-width: 1159px) {
    header {
        width: 100%;
        background: #1F2020;
    }

    .menu {
        visibility: hidden; 
        right: 0;
        height: 0;
    }

    .headerlist {
        display:flex;  
        list-style:none;
    }
}

header {
    position: fixed;
    
    top: 0;
 
    padding: 10px; 
}

.header {
    
}

.headerlistbutton > a {
    color: aliceblue;
    text-decoration : none;

}

li.headerlistbutton > a:after {
    content: '' ;
border-bottom: 2px solid #1F2020 ;
  background-color : #1F2020 ;
  color: #1F2020;
margin-left: 5px ;
margin-right: 5px ;
  margin-top: 0px ;
  
display: block ;
      transition: all 0.3s ease-out;
}

li.headerlistbutton:hover > a:after {
      content: '' ;
  border-bottom: 2px solid #FFFFFF ;
	background-color : #FFFFFF ;
    color: #FFFFFF;
  margin-left: 5px ;
  margin-right: 5px ;
	margin-top: 4px ;
	
  display: block ;
		transition: all 0.3s ease-out;
}

.headerlistbutton {
    padding: 4px 55px 4px 55px;
    transition: all 0.3s ease-out;
}

.headerlistbutton:hover {
    padding: 4px 55px 0 55px;
    transition: all 0.3s ease-out;
}

ul
{
  display:flex;  
  list-style:none;
}

@media (max-height: 690px) {
    .home {
        height: 720px;
    }
}

@media (max-height: 1400px) {
    .home {
        height: 100vh;
    }
}

@media (min-height: 1401px) {
    .home {
        height: 800px;
    }
}

.home {
    background-image: url(../images/homeBackground.jpg);
    background-size: cover;
}

@media (max-height: 690px) {
    .opcHome {
        height: 720px;
    }
}

@media (max-height: 1400px) {
    .opcHome {
        height: 100vh;
    }
}

@media (min-height: 1401px) {
    .opcHome {
        height: 800px;
    }
}

.opcHome {
    background: rgba(31, 31, 32, 0.5);
    display: flex;
    align-items: center;
}

.welcome {
    margin: 0 auto;
    top: 50%;
  
    width: 800px;
    color: aliceblue;
    text-align: center;
    background: rgba(31, 31, 32, 0.75);
    border-radius: 20px;
}

h1 {
    font-size: 52px;
}

@media (max-height: 690px) {
    .propos {
        height: 720px;
    }
}

@media (max-height: 1400px) {
    .propos {
        height: 100vh;
    }
}

@media (min-height: 1401px) {
    .propos {
        height: 800px;
    }
}

.propos {
    background: #E6C7C2;
    background-size: cover;    
}

@media (max-width: 1957px) {
    .proposmarge {
        padding: 8%;
    }
}

@media (min-width: 1958px) {
    .proposmarge {
        padding: 4%;
    }
}

.proposheadline {
    text-align: center;
}

@media (max-width: 1000px) {
    .left {
        width: 240px;
    }
    .right {
        margin-left: 240px;
    }
}

@media (min-width: 1001px) {
    .left {
        width: 17%;
    }
    .right {
        margin-left: 18%;
    }
}


.left {
   /* background: #FFFFFF;*/
    float: left;
    height: 100%;
    padding: 1%;
}

.right {
    /*background: #FF0000;*/
    padding: 1%;
}

.proposheadline {
    margin-bottom: 0;
}

.proposubline {
    margin-top: 0;
}

.proposdescdiv {

    padding: 6%;
    padding-top: 1%;
}

.nocenter {
    text-align: left;
}

.normalfontwo8 {
    font-weight: 500;
}

.descparatext {
    font-size: 1.17em;
    text-align: justify;
}

#crossimg {
    height: 20px;
    width: 20px;
}

.widgetcontact {
    /*E6C7C2*/
    position: relative;
    opacity: 0;
    background: #1F2020;
    color: aliceblue;
    border-radius: 8px;
    margin-left: 50%;
    margin-right: 11%;
    padding: 0 2% 2% 2%;
    transition: all 0.5s ease-out !important;
}

.widgetcontactonclick {
    position: relative;
    opacity: 1;
    background: #1F2020 !important;
    color: aliceblue !important;
    border-radius: 8px !important;
    margin-left: 50% !important;
    margin-right: 11% !important;
    padding: 1% 2% 2% 2% !important;
    transition: all 0.5s ease-out !important;
}

@media (max-height: 690px) {
    .compet {
        height: 720px;
    }
}

@media (min-height: 691px) {
    .compet {
        height: 100vh;
    }
}

@media (max-width: 811px) {
    .compet {
        height: auto !important;
    }
}

@media (min-width: 812px) {
    .compet {
        height: 100vh
    }
}

.compet {
    background: #4E5851;
    background-size: cover;
}

@media (max-width: 1294px) {
    .headerlist2{
        display: block !important;
    }
    .hid1 {
        

        visibility: hidden;
        height: 0 !important;
    }
    .hid2 {
        visibility: visible;
    }
    .compet {
        height: auto !important;
    }
}

@media (min-width: 1295px) {
    .hid1 {
        visibility: visible;
    }
    .hid2 {
        visibility: hidden;
        height: 0 !important;
    }
}

.color {
    padding: 8%;
}

.competlang {
    margin: auto;
}

@media (max-height: 690px) {
    .formation {
        height: 720px;
    }
}

@media (max-height: 1400px) {
    .formation {
        height: 100vh;
    }
}

@media (min-height: 1401px) {
    .formation {
        height: 800px;
    }
}


.formation {
    background: #D1CDDA;
    background-size: cover;
}

@media (max-width: 1957px) {
    .formargin {
        padding: 8%;
    }
}

@media (min-width: 1958px) {
    .formargin {
        padding: 4%;
    }
}

.formargin {
    position: static !important;
}

@media (max-height: 690px) {
    .exp {
        height: 720px;
    }
}

@media (max-height: 1400px) {
    .exp {
        height: 100vh;
    }
}

@media (min-height: 1401px) {
    .exp {
        height: 800px;
    }
}

.exp {
    background: #535150;
    color: #D1CDDA;
}

@media (max-height: 690px) {
    .projet {
        height: 720px;
    }
    @media (max-width: 990px) {
        .left3 {
            width: 100%;
           /* background: #FFFFFF;*/
            float: none;
            border-left: none;
            height: auto !important;
            padding: 1% 0 1% 1%;
        }
        
        
        
        .right3 {
            margin-left: 0;
            /*background: #FF0000;*/
            
            border-left: none;
            height: auto !important;
        }
        
        .left4 {
            width: 100%;
           /* background: #FFFFFF;*/
            float: none;
            border-top: 5px solid #000000 ;
            height: auto !important;
            border-left: none;
            padding: 1% 0 1% 1%;
        }
        
        .right4 {
            margin-left: 0;
            /*background: #FF0000;*/
            padding: 1% 1% 1% 0;
            border-left: none;
            border-top: 5px solid #000000 ;
            height: auto !important;
        }

        .projet {
            height: auto !important;
        }
    }

    @media (min-width: 991px) {
        .left3 {
            width: 32%;
           /* background: #FFFFFF;*/
            float: left;
            height: auto !important;
            padding: 1% 0 1% 1%;
        }
        
        
        
        .right3 {
            margin-left: 33%;
            /*background: #FF0000;*/
            
            border-left: 5px solid #000000;
            height: auto !important;
        }
        
        .left4 {
            width: 49%;
           /* background: #FFFFFF;*/
            float: left;
            height: auto !important;
            padding: 1% 0 1% 1%;
        }
        
        .right4 {
            margin-left: 50%;
            /*background: #FF0000;*/
            padding: 1% 1% 1% 0;
            border-left: 5px solid #000000;
            height: auto !important;
        }
    }
}

@media (min-height: 691px) {
    .projet {
        height: 100vh;
        
    }

    @media (max-width: 990px) {
        .left3 {
            width: 100%;
           /* background: #FFFFFF;*/
            float: none;
            border-left: none;
            height: auto !important;
            padding: 1% 0 1% 1%;
        }
        
        
        
        .right3 {
            margin-left: 0;
            /*background: #FF0000;*/
            
            border-left: none;
            height: auto !important;
        }
        
        .left4 {
            width: 100%;
           /* background: #FFFFFF;*/
            float: none;
            border-top: 5px solid #000000 ;
            height: auto !important;
            border-left: none;
            padding: 1% 0 1% 1%;
        }
        
        .right4 {
            margin-left: 0;
            /*background: #FF0000;*/
            padding: 1% 1% 1% 0;
            border-left: none;
            border-top: 5px solid #000000 ;
            height: auto !important;
        }

        
        .projet {
            height: auto !important;
        }
    }

    @media (min-width: 991px) {
        .left3 {
            width: 32%;
           /* background: #FFFFFF;*/
            float: left;
            height: auto !important;
            padding: 1% 0 1% 1%;
        }
        
        
        
        .right3 {
            margin-left: 33%;
            /*background: #FF0000;*/
            
            border-left: 5px solid #000000;
            height: auto !important;
        }
        
        .left4 {
            width: 49%;
           /* background: #FFFFFF;*/
            float: left;
            height: auto !important;
            padding: 1% 0 1% 1%;
        }
        
        .right4 {
            margin-left: 50%;
            /*background: #FF0000;*/
            padding: 1% 1% 1% 0;
            border-left: 5px solid #000000;
            height: auto !important;
        }
    }

}

@media (min-height: 1401px) {
    .projet {
        height: auto;
    }

    @media (max-width: 990px) {
        .left3 {
            width: 100%;
           /* background: #FFFFFF;*/
            float: none;
            border-left: none;
            height: auto !important;
            padding: 1% 0 1% 1%;
        }
        
        
        
        .right3 {
            margin-left: 0;
            /*background: #FF0000;*/
            
            border-left: none;
            height: auto !important;
        }
        
        .left4 {
            width: 100%;
           /* background: #FFFFFF;*/
            float: none;
            border-top: 5px solid #000000 ;
            height: auto !important;
            border-left: none;
            padding: 1% 0 1% 1%;
        }
        
        .right4 {
            margin-left: 0;
            /*background: #FF0000;*/
            padding: 1% 1% 1% 0;
            border-left: none;
            border-top: 5px solid #000000 ;
            height: auto !important;
        }
    }

    @media (min-width: 991px) {
        .left3 {
            width: 32%;
           /* background: #FFFFFF;*/
            float: left;
            height: auto !important;
            padding: 1% 0 1% 1%;
        }
        
        
        
        .right3 {
            margin-left: 33%;
            /*background: #FF0000;*/
            
            border-left: 5px solid #000000;
            height: auto !important;
        }
        
        .left4 {
            width: 49%;
           /* background: #FFFFFF;*/
            float: left;
            height: auto !important;
            padding: 1% 0 1% 1%;
        }
        
        .right4 {
            margin-left: 50%;
            /*background: #FF0000;*/
            padding: 1% 1% 1% 0;
            border-left: 5px solid #000000;
            height: auto !important;
        }
    }
    
}




.projet {
    background: #AEE1CD;
}



#footer {
    padding: 10px; background: #25282A;

}

.footercontact {
    margin-left: 150px;
}

.footercontactinfo {
    margin-left: 180px;
    font-weight: 500;
}

.left5 {
    width: 50%;
   /* background: #FFFFFF;*/
    float: left;
    height: auto !important;
    padding: 1% 0 1% 1%;
}

.right5 {
    margin-left: 51%;
    /*background: #FF0000;*/
    padding: 1% 1% 1% 0;
    border-left: 5px solid #000000;
    height: auto !important;
}

#exp2 {
    height: 360px !important;
    background: #535150;
    color: #FFFFFF;
}

.formargina {
    height: auto;
    padding: 4%;
    
}
